<div id="contactFormDiv" class="{{gallery}}">
    <h3 class="title">Chcete vedieť viac?</h3>
    <div class="container">
          <form id="contactForm" class="contactForm" action="{{options.baseurl}}/admin/sendform.php" method="post">
            <label for="email">Váš email</label>
            <input type="email" id="email" name="email" placeholder="Váš email.." required>

            <textarea id="subject" name="subject" placeholder="Napíšte nám.." minlenght="5" required></textarea>
            <br />
            <input id="submitContactForm" type="submit" value="Odoslať" class="contactFormResult cta">

        </form>
        <div id="contactFormResult">
        </div>
    </div>
</div>
