{% autoescape false %}
<div class="documentPage contentBlock">
  <div class="documentText textBlock blockLight tile40 shadow">{{content}}
    {% if contactForm !="" %}
    {{contactForm}}
    {% endif %}
  </div>
<div class="fitImg">
  <img src="{{options.baseurl}}data/documents/{{image}}" />
</div>
</div>


{% endautoescape %}
