<div class="footerTile">
  <h3 class="title">Naše produkty nájdete aj v týchto predajniach</h3>
<div id="partners" class="partners flexRow gallery">
    {% for key,partner in data.partners %}
    {% if partner ends with '.jpg' or partner ends with '.png' %}
        <img class="partner" src="{{options.baseurl}}data/partners/{{partner}}" alt="{{partner}}">
    {% endif %}
    {% endfor %}
</div></div>
<div class="footerTile devInfo">
<p>Túto stránku vytvoril <a href="https://kamosko.panakrala.sk">Matej Moško</a> v roku 2019.</p>
</div>

<div class="footerTile">
<div id="recaptcha_container" name="recaptcha_response"></div>
</div>
