<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>{{data.opts.title}}</title>
<meta name="description" content="{{data.opts.desc}}">
<meta name="keywords" content="{{data.opts.keywords}}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="manifest" href="{{options.baseurl}}/site.webmanifest">
<link rel="apple-touch-icon" href="{{options.baseurl}}/icon.png">
<!-- Place favicon.ico in the root directory -->

<link rel="stylesheet" href="{{options.baseurl}}/css/normalize.css">
<link rel="stylesheet" href="{{options.baseurl}}/css/main.css">
<link rel="stylesheet" href="{{options.baseurl}}/css/custom.css">
<link  href="http://scripts.panakrala.sk/fancybox/dist/jquery.fancybox.min.css" rel="stylesheet">
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--<script>
$(function () {
});
</script>-->
