{% autoescape false %}
<div class="projectPage">
    <h2 class="title">{{data.opts.name}}</h2>
    <div class="text projectText">
        <p class="desc">{{data.opts.desc.index}}</p>
        <div class="gallery">
            {% for key,photo in data.gallery.preview %}
            <a data-fancybox="gallery" data-src="{{options.baseurl}}/data/projects/{{projectId}}/gallery/preview/{{photo}}" href="javascript:;">
              <img src="{{options.baseurl}}/data/projects/{{projectId}}/gallery/preview/{{photo}}" />
            </a>
            {% endfor %}
        </div>
    </div>
    <ul class="projectMeta tileMeta">
        <!--<li class="keywords">{{project.opts.keywords}}</li>-->
        <li><span class="emotpack-icon timespan"></span><span class="metaDetail">{{data.opts.desc.timespan}}</span></li>
        <li><span class="emotpack-icon groupsize"></span><span class="metaDetail">{{data.opts.desc.groupsize}}</span></li>
        <li><span class="emotpack-icon price"></span><span class="metaDetail">{{data.opts.desc.price}}</span></li>
    </ul>
    {% if nextEvents !="" %}
    <h3 class="title">{{data.opts.strings.events_next}}</h3>
    <div class="events nextEvents flexRow">
        {{nextEvents}}
    </div>
    {% endif %}
</div>
{% endautoescape %}
